body {
    background-color: #1B7339;
}

.hero {
    color: white;
    font-size: 28px;
    padding: 10% 15% 0;
    text-align: center;
}

.img {
    max-width: 45%;
    border-radius: 100px;
}

i {
    color: red;
    font-weight: bold;
}

#board {
    padding: 10% 0;
}

.header {
    border: 0;
    border-color: black;
    border-bottom: 1px;
    border-style: solid;
    background-color: whitesmoke;
    max-width: 60%;
    margin: auto;
    padding: 1% 10%;
}

h1 {
    font-size: large;
    text-align: center;
}


.board {
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 2px black;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: auto;
    padding: 10%;
    text-align: center;
}

input {
    height: 50px;
    width: 100%;
    border-color: rgba(255, 0, 0, 0.822);
}

.error {
    color: rgba(255, 0, 0, 0.822);
}

button {
    height: 30px;
    width: 103%;
    background-color: #1B7339;
    border-color: #1B7339;
    color: white;
}

footer {
    text-align: center;
    color: white;
    font-size: 14px;
}

.signature {
    font-size: 10px;
}

@media (max-width:787px) {

    body {
            background-color: #1B7339;
        }

        .hero{
            color: white;
            font-size: 14px;
            padding: 10% 15% 5%;
            text-align: center;
        }

        .img{
            max-width: 45%;
            border-radius: 100px;
        }

        i{
            color: red;
            
        }

        #board{
            padding: 10% 0;
        }

        .header{
            background-color: whitesmoke;
            max-width: 60%;
            margin: auto;
            padding: 1% 15%;
            border: 0;
            border-color: black;
            border-bottom: 1px;
            border-style:solid;
        }

        h1{
            font-size: 14px;
            text-align: center;
        }

    
        .board {
            align-items: center;
            background-color: whitesmoke;
            box-shadow: 2px 2px 2px 2px black;
            display: flex;
            flex-direction: column;
            max-width: 60%;
            margin: auto;
            padding: 15%;
            text-align: center;
        }

       input{
        height: 50px;
        width: 100%;
        border-color: rgba(255, 0, 0, 0.822);
       }

       .error{
        color: rgba(255, 0, 0, 0.822) ;
       }

       button{
        height: 30px;
        width: 104%;
        background-color: #1B7339;
        border-color: #1B7339;
        color: white;
       }

       footer{
        text-align: center;
        color: white;
        font-size: 14px;
       }

       .signature{
        font-size: 10px;
       }
}
